/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <locale/keys_sv.h>

/ {
  chosen { zmk,physical-layout = &default_layout; };
};

/ {
  behaviors {
    cwt: mod_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <0>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      bindings = <&kp LSHIFT>, <&caps_word>;
      display-name = "Caps Word Tap";
    };

    td_cwt: tap_dance_mod_tap {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&cwt, &kp LCTRL>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "QWERTY";

      bindings = <
        &kp TAB   &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O      &kp P           &kp SV_A_RING
        &td_cwt   &kp A  &kp S  &kp D      &kp F  &kp G        &kp H    &kp J  &kp K      &kp L      &kp SV_O_UMLAUT &kp SV_A_UMLAUT
        &kp LCTRL &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT    &kp SV_MINUS    &kp ESC
                                 &kp LGUI   &mo 1  &kp SPACE    &kp RET  &mo 2  &kp LALT
      >;
    };

    lower_layer {
      display-name = "NUMBER";

      bindings = <
        &trans  &trans  &kp N1  &kp N2  &kp N3  &kp SV_PLUS     &kp PSCRN    &kp C_VOL_DN      &kp C_VOL_UP  &trans     &trans      &kp SV_QUESTION
        &trans  &trans  &kp N4  &kp N5  &kp N6  &kp N0          &kp LEFT     &kp DOWN          &kp UP        &kp RIGHT  &kp SV_APOS &trans
        &trans  &trans  &kp N7  &kp N8  &kp N9  &kp SV_MINUS    &none        &none             &kp COMMA     &kp DOT    &trans      &trans
                                &trans  &trans  &trans          &kp BSPC     &mo 4             &trans
      >;
    };


    raise_layer {
      display-name = "SYMBOL";

      bindings = <
        &trans  &none     &kp SV_DQT  &kp SV_LT     &kp SV_GT     &kp SV_PIPE   &kp SV_CARET  &kp SV_LBRC      &kp SV_RBRC   &kp SV_DLLR  &kp SV_QMARK  &kp SV_QMARK
        &trans  &none     &kp SV_EXCL &kp SV_LBKT   &kp SV_RBKT   &kp SV_AMPS   &kp SV_FSLH   &kp SV_LPAR      &kp SV_RPAR   &kp SV_BSLH  &kp SV_APOS   &none
        &trans  &none     &kp SV_HASH &kp SV_QMARK  &kp SV_EQUAL  &kp SV_PRCNT  &kp SV_TILDE  &kp SV_AT_SIGN   &kp COMMA     &kp DOT      &kp SV_MINUS  &trans
                                      &trans        &trans        &trans        &trans        &trans           &trans
      >;
    };

    Control {
      display-name = "SYSTEM";
      bindings = <
        &none  &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none      &none    &none      &none    &trans  &kp F24
        &none  &none         &none            &none         &none         &none           &none      &none    &none      &none    &none   &kp F23
        &none  &bt BT_CLR    &rgb_ug RGB_TOG  &sys_reset    &bootloader   &studio_unlock  &trans     &trans   &trans     &trans   &trans  &trans
                                              &trans        &trans        &trans          &trans     &trans   &trans
      >;
    };

    extra_layer_1 {
      display-name = "EXTRA";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp END    &kp HOME   &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp PG_DN  &kp PG_UP  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans
        &trans  &trans  &trans                                                        &trans  &trans  &trans
      >;
    };

    extra_layer_2 {
      display-name = "EXTRA 2";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans                                                  &trans  &trans  &trans
      >;
    };

    extra_layer_3 {
      display-name = "EXTRA 3";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans                                                  &trans  &trans  &trans
      >;
    };

    extra_layer_4 {
      display-name = "EXTRA 4";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans                                                  &trans  &trans  &trans
      >;
    };

    extra_layer_5 {
      display-name = "EXTRA 5";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans                                                  &trans  &trans  &trans
      >;
    };

    extra_layer_6 {
      display-name = "EXTRA 6";
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans                                                  &trans  &trans  &trans
      >;
    };
  };
};
